@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import "styles/common.css";
@import "styles/typography.css";
@import "styles/header.css";
@import 'styles/footer.css';

* {
    font-family: 'Comfortaa', -apple-system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --green-50: #FCFEF6;
    --green-100: #F5FCE5;
    --green-200: #EEFAD3;
    --green-300: #E4F7BA;
    --green-400: #DEF4A9;
    --green-500: #C8DC98;
    --green-600: #9BAB76;
    --green-700: #6F7A54;
    --green-800: #434933;
    --green-900: #161811;

    --light-gray-50: #F7F7F7;
    --light-gray-100: #F0F0F0;
    --light-gray-200: #E8E8E8;
    --light-gray-300: #E0E0E0;
    --light-gray-400: #D9D9D9;
    --light-gray-500: #C3C3C3;
    --light-gray-600: #989898;
    --light-gray-700: #6C6C6C;
    --light-gray-800: #414141;
    --light-gray-900: #2B2B2B;

}

html, body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, ul, li, a, body, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

.body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--green-100);
}

.main {
    width: 100%;
    height: 100%;
}


