/*md*/
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }

    .footer--content {
        flex-direction: row;
        gap: 3rem;
    }

    .footer--content-form-section {
        max-width: 28rem;
        margin-left: auto;
        margin-right: auto;
    }

    .footer--content-section__title-contact-us {
        padding-top: 0;
    }

    .footer--contact-form {
        width: 16rem;
    }
}

/*lg*/
@media (min-width: 1024px) {


    .footer--content,
    .footer--content-form-section {
        width: 60rem;
    }

    .footer--content {
        gap: 6rem;
    }

    .footer--content-section {
        flex-direction: row;
        gap: 4rem;
    }
}

/*xl*/
@media (min-width: 1200px) {

    .footer--content,
    .footer--content-form-section {
       width: 70rem;
    }

/*    ----------refactor---------        */
    .top-section-parallax {
        background-image: url("../../assets/cardpay.avif");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .rhombus {
        content: "";
        position: absolute;
        /*-webkit-transform: rotate(45deg);*/
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #FFF;
        z-index: -1;
        width: 5000px;
        height: 5000px;
    }

    .rhombus:before {
        right: 135.5%;
        top: -2502px;
    }
}
