.title-icon {
    width: 3rem;
    height: 3rem;
}

.page-title-wrapper,
.analytic-section-wrapper,
.settlements-section-wrapper,
.services-section-wrapper,
.compliance-section-wrapper,
.payouts-section-wrapper {
    max-width: 70.5rem;
    margin: auto;
}

.page-title {
    background-color: var(--green-400);
    padding-right: 3rem;
}

.page-title-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.analytic-section {
    position: relative;
    background-color: var(--green-400);
    padding: 4rem;
}

.analytic-graph-top,
.analytic-graph-bottom {
    z-index: 0;
}

.analytic-section-wrapper {
    position: relative;
    border-radius: 1rem;
}

.analytic-content-wrapper {
    position: relative;
    z-index: 1;
    background-color: var(--green-50);
    border-radius: 1rem;
    padding: 2.5rem 2rem;
}

.analytic-graph-top {
    left: -4rem;
    top: -4rem;
    transform: rotate(180deg);
}

.analytic-graph-bottom {
    right: -4rem;
    bottom: -4rem;
}

.analytic-header,
.settlements-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.analytic-main {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 3rem 0 0;
}

.settlements-section {
    background: linear-gradient(0deg, rgba(200,220,152,1) 0%, rgba(222,244,169,1) 100%);
    padding: 2rem 4rem 4rem;
}

.settlements-section-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    padding-left: 2rem;
}

.settlements-header {
    margin-left: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settlements-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settlements-img {
    min-width: 15rem;
    max-width: 20rem;
    width: 100%;
    height: auto;
}

.services-section {
    background: linear-gradient(0deg, rgba(155,171,118,1) 0%, rgba(200,220,152,1) 100%);
    padding: 4rem;
}

.services-header {
    text-align: center;
}

.services-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 3rem;
}

.services-main,
.services-cards-wrapper {
    gap: 1rem;
}

.services-cards-wrapper {
    display: flex;
    flex-direction: column;
}

.services-cards-wrapper.services-cards-row {
    flex-direction: row;
}

.services-card-img-wrapper {
    position: relative;
}

.services-card {
    padding: 2rem 1rem;
    background-color: var(--green-50);
    border-radius: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.services-card-img {
    max-width: 8rem;
    height: auto;
}

.services-card-credit-card-img {
    position: absolute;
    width: 5rem;
    height: auto;
    bottom: 2rem;
    right: -1rem;
}

.compliance-section {
    background: linear-gradient(0deg, rgba(111,122,84,1) 0%, rgba(155,171,118,1) 42%);
    padding: 4rem;
}

.compliance-section-wrapper,
.payouts-section-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 4.5rem;
}

.compliance-header {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.45);
}

.compliance-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    width: 28rem;
    padding-right: 3rem;
}

.compliance-main-title {
    padding: 3rem 2rem;
}

.compliance-icons-wrapper {
    position: relative;
    min-height: 3rem;
    width: 100%;
}

.compliance-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
}

.compliance-doc-sign {
    bottom: -90%;
    left: -5%;
}

.compliance-docs-folder-icon {
    bottom: -2%;
    left: 25%;
}

.compliance-checklist {
    bottom: -75%;
    left: 55%;
}

.compliance-warning {
    bottom: -50%;
    right: 0;
}

.compliance-law {
    right: -15%;
    bottom: -175%;
}

.compliance-settings {
    top: -150%;
    left: 0;
}

.compliance-doc {
    top: -25%;
    left: 23%;
}

.compliance-glass {
    top: -100%;
    left: 48%;
}

.compliance-checked {
    bottom: 30%;
    right: 17%;
}

.compliance-people {
    right: -2%;
    top: -120%;
}

.payouts-section {
    background-color: var(--green-700);
    padding: 4rem;
}

.payouts-section-wrapper {
    justify-content: space-between;
}

.payouts-header {
    padding: 4rem 0;
}

.payouts-main {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payouts-icon {
    width: 20rem;
    height: auto;
}
