.nav-header {
    position: sticky;
    width: 100%;
    top: 0;
    backdrop-filter: blur(0.25rem);
    z-index: 50;
    background-color: rgba(222 244 169 / 0.55);
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem ;
    margin: 0 auto;
}

.nav-list li a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav-list--item-wrapper {
    display: none;
}

.nav-header--logo-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 1rem;
}

.nav-header--logo-img {
    width: 1.5rem;
}

.nav-header--logo-text {
    font-size: 1.85rem;
    font-weight: 300;
    align-self: center;
    padding-top: 0.5rem;
    color: var(--green-900)
}

.dropdown-button {
    background-color: inherit;
    color: var(--green-800);
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dropdown-button--icon {
    width: 1.5rem;
    stroke: var(--green-800);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--green-50);
    min-width: 15rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: -0;
    border-radius: 0.5rem;
}

ul.dropdown-content li a {
    color: var(--green-900);
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content li:first-child a:hover {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.dropdown-content li:last-child a:hover {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.dropdown-content li a:hover {
    background-color: var(--green-200)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: var(--green-400);
}

.nav-item-selected {
    color: var(--green-700);
}

/*lg*/
@media (min-width: 1024px) {
    .nav-list {
        width: 60rem;
    }
}

/*xl*/
@media (min-width: 1128px) {
    .nav-list {
        width: 70.5rem;
    }

    .menu {
        display: none;
    }

    .nav-list--item-wrapper,
    .nav-list--item-wrapper a {
        display: flex;
        gap: 0.5rem;
    }

    .nav-list--item-wrapper a {
        align-items: center;
    }
}

/*2xl*/
@media (min-width: 1200px) {
    .nav-list {
        width: 73.5rem;
    }
}
