.main-wrapper {
    position: relative;
}

/*INTRODUCTION SECTION*/
.introduction-section {
    background-color: var(--green-400);
}

.introduction-section-wrapper,
.integration-section-wrapper,
.analytic-section-wrapper,
.security-section-wrapper,
.cost-section-wrapper,
.payouts-section-wrapper,
.world-section-wrapper {
    max-width: 1128px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0 2rem;
}

.introduction-section-wrapper {
    min-height: 95vh;
}

.introduction-header,
.introduction-main {
    width: 50%;
}

.introduction-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 1rem;
    gap: 2rem;
}

.introduction-main {
    min-height: 30rem;
    position: relative;
    padding: 1rem;
}

.introduction-image-wrapper {
    position: absolute;
    z-index: 1;
    border-radius: 0.75rem;
    line-height: 0;
}

.graph-bg-top {
    transform: rotate(180deg);
    left: -4rem;
    top: 0;
}

.graph-bg-bottom {
    bottom: -3rem;
    right: -3.5rem;
}

.dashboard-img-wrapper {
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}

.chart-img-wrapper {
    bottom: 1.75rem;
    right: 0;
    line-height: 0;
}

.credit-card-wrapper {
    bottom: 11rem;
    left: -1.5rem;
    border-radius: 0.5rem;
    line-height: 0;
}

.introduction-img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    z-index: 1;
}

.dashboard-img {
    max-width: 30rem;
}

.chart-img {
    max-width: 15rem;
}

.credit-card-img {
    max-width: 11rem;
}

/*INTEGRATION SECTION*/

.integration-section,
.analytic-section {
    height: max-content;
}

.integration-section {
    padding-top: 2rem;
    background: linear-gradient(0deg, rgba(238,250,211,1) 0%, rgba(222,244,169,1) 100%);
}

.integration-section-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.integration-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.integration-title {
    text-align: center;
    padding: 0 7rem;
}

.integration-main {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.integration-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    max-width: 23rem;
    padding-left: 3rem;
}

.integration-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.integration-list--item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.integration-start-button,
.learn-more-button {
    width: max-content;
    margin-top: 2rem;
}

.integration-cards,
.analytic-images-wrapper,
.analytic-images-top,
.analytic-images-bottom {
    display: flex;
    line-height: 0;
}

.integration-cards,
.integration-cards-wrapper,
.analytic-images-wrapper,
.analytic-images-top,
.analytic-images-bottom {
    gap: 2rem
}

.integration-cards-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.integration-cards-wrapper-right {
    padding-top: 5rem;
}

.integration-card {
    max-width: 20rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 2rem 1.5rem;
    border-radius: 0.75rem;
    background-color: #FFFFFF;
    z-index: 1;
}

.integration-card-header {
    display: flex;
    justify-content: space-between;
}

.integration-icon-wrapper {
    position: relative;
    display: flex;
    line-height: 0;
}

.integration-icon {
    width: 3rem;
    height: 3rem;
    fill: var(--green-600);
    color: var(--green-600);
}

.easy-integration-icon-connect {
    position: absolute;
    right: 2.5rem;
    bottom: 3.25rem;
    transform: rotate(35deg);
}

.integration-card-title {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.integration-card-title span:nth-child(2) {
    padding-left: 3.5rem;
}

.integration-card-title span.integration-card-title--second {
    padding-left: 5rem;
}

.integration-graph-bg-bottom {
    bottom: -0.25rem;
    left: -4rem;
    transform: rotate(86deg);
}

.integration-graph-bg-top {
    top: -1rem;
    right: -2.5rem;
    transform: rotate(180deg);
}

/*analytics section*/

.analytic-section {
    padding-top: 2rem;
    padding-bottom: 0;
    background: linear-gradient(0deg, rgba(252,254,246,1) 0%, rgb(238 250 211) 100%);
}

.analytic-section-wrapper {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 3rem;
    padding: 5rem 2.5rem;
    border-radius: 1rem;
    background-image: url("../assets/bg1.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.analytic-images-wrapper {
    position: relative;
    flex-direction: column;
    line-height: 0;
}

.analytic-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.analytic-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.analytic-images-top,
.analytic-images-bottom {
    position: absolute;
    display: flex;
    align-items: flex-end;
    line-height: 0;
}

.analytic-images-top {
    right: 0;
    top: -13.25rem;
}

.analytic-images-bottom {
    left: 0;
    bottom: -16.5rem;
}

.analytic-success-rate-wrapper {
    max-width: 19rem;
    line-height: 0;
    border-radius: 1.125rem;
}

.analytic-success-rate-img {
    width: 100%;
    height: auto;
    border-radius: 1.125rem;
}

/*security*/

.security-section {
    background-color: var(--green-50);
    padding: 7rem 2.5rem;
}

.security-section-wrapper {
    background-color: var(--green-400);
    padding: 2.5rem;
    border-radius: 1rem;
}

.security-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.security-main {
    min-width: 10rem;
}

/*cost section*/
.cost-section {
    background: linear-gradient(0deg, rgba(238, 250, 211, 1) 0%, rgba(252,254,246,1) 100%);
    padding-bottom: 5rem;
}

.cost-section-wrapper {
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.cost-section-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cost-section-header--title {
    display: flex;
    flex-direction: column;
}

.cost-section-header--title span:last-child {
    padding-left: 2rem;
}

.cost-section-main {
    position: relative;
}

.cost-decoration-top,
.cost-decoration-bottom {
    opacity: 0.75;
}

.cost-decoration-top {
    top: -12rem;
    right: -2.5rem;
}

.cost-decoration-bottom {
    bottom: -15rem;
    left: -2.5rem;
    transform: rotate(180deg);
}

.cost-image-wrapper {
    position: absolute;
    z-index: 1;
    padding: 2rem;
    line-height: 0;
    bottom: -12rem;
}

.cost-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

/*payouts*/

.payouts-section {
    position: relative;
    background: linear-gradient(0deg, rgba(222,244,169,1) 0%, rgba(238,250,211,1) 100%);
    padding: 5rem 2.5rem;
}

.payouts-section-wrapper {
    background-color: var(--green-500);
    padding: 3rem 2rem;
    border-radius: 1rem;
    justify-content: space-around;
}

.payouts-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60%;
}

.payouts-main {
    min-width: 10rem;
}

/*industries*/

.industries-section {
    background: linear-gradient(0deg, rgba(155,171,118,1) 0%, rgba(222,244,169,1) 100%);
    padding: 5rem 2.5rem;
    margin: 0;
}

.industries-section-wrapper {
    max-width: 1128px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.industries-header {
    text-align: center;
    padding: 0 10rem;
}

.industries-main {
    max-height: 15rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    padding: 2rem 2.5rem;
    background: var(--green-50);
    border-radius: 1rem;
    text-align: center;
}

.swiper-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.swiper-card-title {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.swiper-card-icon {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 1.75rem;
    height: 1.75rem;
}

.swiper-card-icon-fill {
    fill: var(--green-600);
}

.swiper-card-icon-color {
    color: var(--green-600);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.swiper [class^="swiper-button-"]::after {
    color: var(--green-700);
    font-size: 1.5rem;
}

.swiper [class^="swiper-button-prev"] {
    left: 0;
}
.swiper [class^="swiper-button-next"] {
    right: 0;
}

.swiper [class^="swiper-slide"] {
    height: auto;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background-color: var(--green-700);
}

/*world map section*/

.world-section {
    background: linear-gradient(0deg, rgba(111,122,84,1) 0%, rgba(155,171,118,1) 100%);
    padding: 5rem 2.5rem;
}

.world-section-wrapper {
    flex-direction: column;
    padding: 0;
}

.world-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.world-main {
    display: flex;
    background-color: var(--green-50);
    border-radius: 1rem;
    padding: 2rem;
}

.world-main-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.world-map {
    max-width: 35rem;
}

/*sections wrapper*/

.sections-wrapper {
    background: linear-gradient(0deg, rgba(67,73,51,1) 0%, rgba(111,122,84,1) 100%);
    padding: 5rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*partner contact*/

.partner-section {
    width: 100%;
    padding: 3rem 2rem;
}

.partner-section-wrapper,
.contacts-section {
    max-width: 32.75rem;
}

.partner-section-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 2rem;
    align-items: center;
}

.partner-contact-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.partner-section-main {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.partner-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.partner-button {
    align-self: center;
}

/*contact form section*/

.contact-form-section {
    position: relative;
    width: 100%;
}

.contact-form-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
    background-color: var(--green-50);
    border-radius: 1rem;
}

.contact-form-header {
    text-align: center;
}

.contact-form-main {
    padding: 0 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contact-form textarea {
    resize: none;
    height: 7rem;
}

.primary-button.contact-form-submit-button {
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
}

.graph-bg-light.contact-form-decor {
    width: 14rem;
    height: 14rem;
}

.contact-form-decor-top {
    top: -3.75rem;
    right: -2.75rem;
    transform: rotate(268deg);
}

.contact-form-decor-bottom {
    bottom: -3rem;
    left: -3rem;
    transform: rotate(180deg);
}


/*md*/
@media (min-width: 768px) {

}

/*lg*/
@media (min-width: 1024px) {

}

/*xl*/
@media (min-width: 1200px) {

}

/*2xl*/
@media (min-width: 1280px) {
    
}

/*3xl*/
@media (min-width: 1440px) {
    
}
