.h1 {
    display: block;
    color: var(--green-900);
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
}

.h2 {
    font-size: 2.175rem;
    line-height: 2.75rem;
    color: var(--green-900);
    font-weight: 700;
}

.h3 {
    font-size: 2rem;
    color: var(--green-900);
    line-height: 2.5rem;
    font-weight: 700;
}

.h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: var(--green-900);
}

.h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--green-900);
}

.h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--green-900);
}

.sub-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--green-800);
}

.main-text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.secondary-text {
    font-size: 0.85rem;
    line-height: 1rem;
    font-weight: 300;
}

.input, .textarea {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #d9d9d9;
}

.label--text {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.25rem;
}
